.Die {
    display: inline-block;
}

.Die i {
    color: darkslateblue;
    font-size: 9rem;
    margin: 40px;
}

.shake {
    animation-name: shake;
    animation-duration: 0.82s;
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-5px, 0, 0) rotate3d(0, 0, 1, -5deg);
    }

    20%,
    80% {
        transform: translate3d(5px, 0, 0) rotate3d(0, 0, 1, 3deg);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-15px, 0, 0) rotate3d(0, 0, 1, -3deg);
    }

    40%,
    60% {
        transform: translate3d(15px, 0, 0) rotate3d(0, 0, 1, 5deg);
    }
}
